@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
table {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border-collapse: collapse;
}

th, td {
  padding: 10px 20px; 
}

th {
  color: white;
  background-color: #01987A;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
}